.container {
    display: flex;
    margin-top: 50px;
    height  : 200px;
  /*   max-height : 10px; */
  }
  
  .item {
    position: relative;
    display: block;
    flex: 1 1 0px;
    transition: transform 500ms;
  }
  
  .container:focus-within .item,
  .container:hover .item {
    transform: translateX(-25%);
  }
  
  .item:focus ~ .item,
  .item:hover ~ .item {
    transform: translateX(25%);
  }
  
  .container .item:focus,
  .container .item:hover {
    transform: scale(1.5);
    z-index: 0;
  }
  
  body {
    overflow: hidden;
  }
  
  .item img {
    display: block;
    max-width: 100%;
  }
  

  .image {
    /* display: block; */
    /* position: absolute; */
    height: 200px;
    /* padding: 10px 10px; */
    border-radius: 20px;
    /* flex: 1 1 0px; */
    /* display: block; */
  }